*{
	padding: 0px;
	margin: 0px;
}

header{
	width: 100%;
	height: 150px;
	background-color: black;
}

h1{
	padding-top: 200px;
	text-align: center;
	font-size: 48px;
	color: white;
}
.main_div{
	width: 100%;
	height: 700px;
	background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("img/main_background.jpg");
    background-position: 0 -200px;
}
.main_div h2{
	margin-top: 30px;
	text-align: center;
	font-size: 36px;
	color: white;
}

.main_auth_info{
	width: 100%;
	height: 200px;
}
.main_auth_info div{
	margin: 20px 0px 20px 100px;
	float: left;
	width: 40%;
	heigth: 160px;
	border: 2px solid black;
	border-radius: 30px;
}
.main_auth_info .button_login{
	color: black;
	border: 2px solid black;
	border-radius: 90px;
	text-decoration: none;
}
